<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
    <body >

    <th:block th:if="${session.mysessionmember==null}"}>
        <div th:replace="fragments/Header.html :: header"></div>
    </th:block>
    <th:block th:if="${session.mysessionmember!=null}"}>
    <div th:replace="fragments/LoginHeader.html :: Loginheader(null,'')"></div>
    </th:block>
<div class="container my-3" >
    <div class="starter-template">
        <table class = "table" >
            <thead class = table-dark>
            <tr>
                <th class="col-md-1">번호</th>
                <th class="col-md-5" text-center>제목</th>
                <th class="col-md-3">작성자</th>
                <th class="col-md-2">작성일</th>
                <th class="col-md-2">조회수</th>
            </tr>
            </thead>
            <tr th:each="board : ${board}">
                <td th:text="${board.id}"></td>
                <td><a th:href="@{'/board/boardContent/' + ${board.id}}"><span th:text="${board.title}"></span></a></td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.createdDate}"></td>
                <td th:text="${board.viewcount}"></td>
            </tr>
        </table>
        <!-- Pagination -->
        <div style="margin: 10px">
<!--            <span th:each="pageNum : ${pageList}" th:inline="text">-->
<!--                <a th:href="@{'/board/list/?page=' + ${pageNum}}">[[${pageNum}]]</a>-->
<!--            </span>-->
<!--            &lt;!&ndash; 글쓰기 버튼 &ndash;&gt;-->
            <a style="float: right" class="btn btn-primary" th:href="@{/board/write}">글쓰기</a>
        </div>
<!--dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd-->
<!--        (         (  * (int) Math.ceil( ( (double) pageable.getPageNumber() / blockLimit ) ) *    ) - 1      ) * blockLimit + 1; -->
        <span th:each="page: ${#numbers.sequence(startPage, endPage)}">

		<!-- 현재페이지는 링크 없이 숫자만 -->
            <span th:if="${page == postsPages.number + 1}" th:text="${page}"></span>
            <!-- 현재페이지 링크 X, 다른 페이지번호에는 링크를 보여준다 -->
            <span th:unless="${page == postsPages.number + 1}">
        <a th:href="@{/posts/paging(page=${page})}" th:text="${page}"></a>
            </span>
        </span>
<!--ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd-->
        <!-- 검색 form -->
        <form action="/board/search" method="GET">
            <div>
                <input name="keyword" type="text" placeholder="검색어를 입력해주세요.">
                <button class="btn btn-primary">검색하기</button>
            </div>
        </form>

    </div>
</div>

<!--    <script>-->
<!--        // 댓글 입력창-->
<!--        $(document).on("click","button[id='Submit']",function(){ //동적 이벤트-->
<!--            $.ajax({-->
<!--                type: "post",-->
<!--                url: "/boardContent",-->
<!--                data: {"content": $("#content").val(), "writer": $("#writer").val(),"boardid": $("#boardid").val(), },//boardid값추가 1.26-->
<!--                success: function (data) {-->
<!--                    // getReplyList();-->
<!--                    // console.log(data+"로그얌 ㅎㅎㅋㅋ");-->
<!--                    //   if (data.result == "success") { //여기 if문동작안하는듯?-->
<!--                    //     location.reload();    //이거지워보고 밑에 버튼임니다 되나 어떤기능하는지 비교해보기 주석햇다안햇다 다하면이거지우고-->
<!--                    // alert("이거 발생되니");-->
<!--                    //     console.log("버튼임니다 ㅎ ");-->
<!--                    //     // getReplyList3();-->
<!--                    //   }-->
<!--                    console.log(data+"data체크");-->
<!--                    getReplyList3();-->
<!--                    // console.log(data.result+"데이타점리설트값이당");undefined값-->

<!--                },-->
<!--                error: function (request, status, error) {-->
<!--                    alert("에러러code: " + request.status + "\n" + "error: " + error);-->
<!--                }-->
<!--            });-->
<!--        });-->

<!--        $(document).ready(function(){-->
<!--            console.log("document 임니다 ㅎ ");-->
<!--            // getReplyList();-->
<!--        });-->
<!--    </script>-->
    </body>
</html>