<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <style>
    .freestyle {
      font-size: 14px;
      font-weight: 400;
      align-items: center;
      border-top: 2px solid #2e4361;
      background-color: #D2E1FF;
      padding: 1rem;
      height:5rem; width:100rem; padding-top:1rem;
      margin-left:5rem;
    }
    .freestyle2 {
      font-size: 14px;
      font-weight: 400;
      align-items: center;
      /*border-top: 2px solid #2e4361;*/
      /*background-color: ;*/
      padding: 1rem;
      height:50rem; width:100rem;
      margin-left:5rem;
    }
    .fakeimg {
      height: 200px;
      background: #aaa;
    }  #toc-content {
         display: none;
       }
    #toc-toggle {
      cursor: pointer;
      color: #2962ff;
    }
    #toc-toggle:hover {

      text-decoration: underline;
    }
  </style>
  <link href="static/css/headers.css" rel="stylesheet">

</head>
<body>
<!--<header th:replace=""></header>-->
<th:block th:if="${session.mysessionmember==null}"}>
  <div th:replace="fragments/Header.html :: header"></div>
</th:block>
<th:block th:if="${session.mysessionmember!=null}"}>
  <div th:replace="fragments/LoginHeader.html :: Loginheader('boardContent/'+${board.id},'')"></div>
</th:block>

<div style="margin-left:5rem;"><h4 class="ed link text-bold" th:text="'제목 : ' + ${board.title}">덕락하네</h4></div>
<div class="freestyle"  th:text="'작성자 : ' + ${board.writer}" >작성자</div>
<div class="freestyle2"  th:text="${board.content}">호호호</div>

<!--아래부터 댓글-->
    <div class="panel panel-info" style="margin: 5rem; width:100rem;">
      <div class="panel-heading">
        Comment panel
      </div>

      <div class="panel-body">
        <textarea class="form-control" placeholder="write a comment..." rows="3"  id="content" name="content"></textarea>
        <br>
        <input type="hidden" id="writer" th:value="${writer2}"/>
        <input type="hidden" id="boardid" th:value="${board.id}"/>
        <button type="submit" id="Submit" class="btn btn-info pull-right">등록하기</button>
        <div class="clearfix"></div>
        <hr>


<!--        //댓글출력-->
          <div id="rta">
          <div class="media" th:each="comment : ${comment}" >
            <th:block th:if="${comment.depth==0}">
            <div class="media-left">
            </div>
            <div class="media-body">
              <h4 class="media-heading title" id="commentwriter" th:text="${comment.writer}" >comment death yo</h4>
              <input type="hidden" id="commentid" th:value="${comment.id}" >
               <input type="hidden" id="parentid" th:value="${comment.parentid}">
              <p class="komen" th:text="${comment.content}">
                kalo bisa ya ndak usah gan biar cepet commentid숨김처리리<br>
              </p> <button id="replie" name="replie" type="button"  class="btn btn-primary">reply</button><hr>
            </div>
            </th:block>

            <th:block th:if="${comment.depth==1}">
              <div class="ml-5">
              <div class="media-left mt-3"></div>
              <div class="media-body mt-3">
                <h4 class="media-heading title" th:text="${comment.writer}" >comment death yo</h4>

                <input type="hidden"  th:value="${comment.id}" >
                <input type="hidden"  th:value="${comment.parentid}" >
                <p class="komen" th:text="${comment.content}">
                  kalo bisa ya ndak usah gan biar cepet<br>
                </p>
                <button id="replie2" name="replie" type="button"  class="btn btn-primary">대댓글달기</button><hr>
              </div>
              </div>
            </th:block>

          </div></div></div></div>

<script>
  // 댓글 입력창
  $(document).on("click","button[id='Submit']",function(){ //동적 이벤트
    $.ajax({
      type: "post",
      url: "/boardContent",
      data: {"content": $("#content").val(), "writer": $("#writer").val(),"boardid": $("#boardid").val(), },//boardid값추가 1.26
      success: function (data) {
        console.log(data+"data체크");
        getReplyList3();
      },
      error: function (request, status, error) {
        alert("에러러code: " + request.status + "\n" + "error: " + error);
      }
    });
  });

  $(document).ready(function(){
    console.log("document 임니다 ㅎ ");
    // getReplyList();
  });

  function getReplyList3() {
    // var board = "${board.boardNo}";
    $.ajax({
      type : "get",
      url : "/board/write3",
      data : {"id": $("#boardid").val(),
      },

      success : function(result) {
        $('#rta').replaceWith(result);
      }
    })

  }

  //대댓글 입력창
  $(document).on("click","button[name='replie']",function(){ //동적 이벤트
    if(status){
      alert("수정과 대댓글은 동시에 불가합니다.");
      return false;
    }
    status = true;
    $("#reply_add").remove();
    var reply_id = $(this).attr("reply_id");
    var last_check = false;//마지막 tr 체크
    // var pid=$('input#parentid').val();//jquery문법, controller에서 바로받는방법도있다 cdata https://dodamit.tistory.com/30
    var pid=$(this).prev().prev().val();
     // var cwriter=$('h4#commentwriter').text();
    // var cwriter=$(this).prev().prev().prev().prev().text();
    var cwriter=$("#writer").val();
    var boardid2=$("#boardid").val();
     // var testid=$(this).prev().prev().val();//이거잘됨
    //입력받는 창 등록--------url을 ajax쪽으로바꾸고 hidden해서 commentid값
    var replyEditor =
            '<form action="/boardReply"  method="post">' +
            '<tr id="reply_add" class="reply_reply">'+
            '   <td width="820px">'+
            '       <textarea name="content" id="repliecontent" rows="3" cols="50"></textarea>'+
            '   </td>'+
            '   <td align="center">'+
            '       <button type= "submit" name="reply_reply_save" reply_id="'+reply_id+'">등록</button>'+
            '       <button  name="reply_reply_cancel">취소</button>'+
            '   </td>'+
            '</tr>'+
            '<input type="hidden" name="parentid"  id="replieparentid" value="'+pid+'">'+
            '<input type="hidden" name="writer"  id="repliewriter" value="'+cwriter+'">'+
            '<input type="hidden" name="boardid" id="replieboardid" value="'+boardid2+'">';
            '</form>';

    var prevTr = $(this).parent().parent().next();
    //부모의 부모 다음이 sub이면 마지막 sub 뒤에 붙인다.
    //마지막 리플 처리
    if(prevTr.attr("reply_type") == undefined){
      prevTr = $(this).parent().parent();
    }else{
      while(prevTr.attr("reply_type")=="sub"){//댓글의 다음이 sub면 계속 넘어감
        prevTr = prevTr.next();
      }
      if(prevTr.attr("reply_type") == undefined){//next뒤에 tr이 없다면 마지막이라는 표시를 해주자
        last_check = true;
      }else{
        prevTr = prevTr.prev();
      }
    }
    if(last_check){//마지막이라면 제일 마지막 tr 뒤에 댓글 입력을 붙인다.
      $('#reply_area tr:last').after(replyEditor);
    }else{
      prevTr.after(replyEditor);
    }
  });



</script>
</body>
</html>